body{
    background-color:#f7a001;
    color: white;
}
.container{
    margin-top: 100px;
}
h1{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: white;
    transition: 1s all ease-in-out;
}
a:hover{
    color: black;
}
button{
    margin-top: 50px;
}
.buttonStyle{
    border-radius: 5px;
    width: 40px;
    background-color: transparent;
    border: 2px solid white;
    transition:  all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    outline: none;
    color:white;
    margin-right: 10px;
}

#hintButton{
    margin-top: 10px;
    margin-bottom: 20px;
}
#resetButton,
#hintButton{
    background-color:#f7a001 ;
    color:white;
    border:10px double white;
    transition: 0.5s all ease-in-out
}
.buttonStyle:hover,
#resetButton:hover,
#hintButton:hover{
    background-color: white;
    color: #f7a001;
    font-weight: bold;
}